In [1]:
# strings are a text data type
# they are sequences of characters
# surrounded by either single or double quotes -> must be consistent around a string

'This is a string'

'This is a string'

In [2]:
"This is also a string"

'This is also a string'

In [3]:
"these quotes do not match'

SyntaxError: unterminated string literal (detected at line 1) (1479919974.py, line 1)

In [4]:
'Let's see if this works

SyntaxError: invalid syntax (1618629434.py, line 1)

In [5]:
"Let's see if this works now"

"Let's see if this works now"

In [6]:
def sum(value_1, value_2):
    """
    Add value_1 and value_2.
    This will output the sum of the values.
    """
    sum = value_1 + value_2
    return sum

In [7]:
sum(2, 3)

5

In [8]:
help(sum)

Help on function sum in module __main__:

sum(value_1, value_2)
    Add value_1 and value_2.
    This will output the sum of the values.

In [11]:
'''
This is a multiline string

It is very useful for documenting functions
'''

'\nThis is a multiline string\n\nIt is very useful for documenting functions\n'

In [ ]:
# escape sequence is a combination of characters that means something else
# "\n" means new line and not literally "\n"

### Escape sequences

| Escape sequence | Description        |
|-----------------|--------------------|
| \\'             | Single quote       |
| \\"             | Double quote       |
| \\\\            | Backslash          |
| \\t             | Tab                |
| \\n             | Newline            |
| \\r             | Carriage return    |

In [13]:
'Let\'s go to the Ex!'

"Let's go to the Ex!"

In [16]:
print('She said, \"Don\'t do that!\"')

She said, "Don't do that!"

In [17]:
print("We can include a \t tab!")

We can include a 	 tab!

In [18]:
3 + 4

7

In [19]:
'hello' + ' ' + 'world'

'hello world'

In [20]:
4 * 3

12

In [21]:
'ha' * 3

'hahaha'

In [22]:
'wo' * 10

'wowowowowowowowowowo'

In [23]:
'The year is' + 2020

TypeError: can only concatenate str (not "int") to str

In [24]:
'apple' == 'Apple'

False

In [25]:
'apple' != 'Apple'

True

In [26]:
'20' == 20

False

In [29]:
first_name = 'Ada'
last_name = 'Lovelace'

first_name[2]

'a'

In [31]:
last_name[3]

'e'

In [32]:
first_name[0:1]

'A'

In [33]:
last_name[3:6]

'ela'

In [ ]:
# strings in Python are zero-indexed (means first letter is at index 0, not 1)
# slices do not include the character at the ending index position

In [34]:
phone_number = '+1 555-123-4567'

phone_number[3:6]

'555'

In [35]:
phone_number[7:10]

'123'

In [37]:
phone_number[8:]

'23-4567'

In [38]:
phone_number[-4:]

'4567'

In [45]:
job_qualifications = "The successful applicant will be proficient in R, Python, SQL, statistics, and data visualization."

In [40]:
'R' in job_qualifications

True

In [46]:
' r' in job_qualifications

False

In [47]:
'JavaScript' in job_qualifications

False

In [ ]:
# strings and functions

print(1, 'fish', 2.0, 'fish')

1 fish 2.0 fish

In [50]:
len("Sometimes we have a super long string just to meet a character count!")

69

In [58]:
# this will be helpful for the assignment!

sorted('banana')

['a', 'a', 'a', 'b', 'n', 'n']

In [51]:
# string methods

'I am not yelling'.upper()

'I AM NOT YELLING'

In [53]:
'This string is unusualeee'.count('e')

3

In [55]:
'file_name.docx'.endswith('.csv')

False

In [56]:
'long file name with spaces.csv'.replace(' ', '_')

'long_file_name_with_spaces.csv'

In [59]:
# .format()

first_name = 'Ada'
last_name = 'Lovelace'

'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [60]:
# f-string

f'Ada Lovelace\'s initials are {first_name[0]}. {last_name[0]}.'

"Ada Lovelace's initials are A. L."

In [63]:
'My favourite vegetable is {}'.format(13)

'My favourite vegetable is 13'

In [64]:
f"My favourite vegetable is {13}"

'My favourite vegetable is 13'

In [65]:
int('17')

17

In [66]:
int('17.4')

ValueError: invalid literal for int() with base 10: '17.4'

In [67]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [68]:
float("you")

ValueError: could not convert string to float: 'you'

In [69]:
float("892")

892.0

In [1]:
str(37.5)

'37.5'

In [2]:
str(20)

'20'

In [4]:
'20' + str(37.5)

'2037.5'

In [11]:
age = input("How old are you? ")

In [12]:
age

'1000'

In [9]:
age_next_bday = int(age) + 1

In [10]:
age_next_bday

1001

In [13]:
5 > 3

True

In [ ]:
# not -> negates the truth value of the statement
# and -> check if the statements on both sides are true
# or -> check if at least one of the states are true

## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

In [14]:
not True

False

In [15]:
not False

True

In [16]:
3 == 3

True

In [17]:
not (3 == 3)

False

In [19]:
5 >= 10

False

In [20]:
not (5 >= 10)

True

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

In [22]:
(7 == 7) and (32 > 0)

True

In [23]:
(7 == 8) and (32 > 0)

False

In [24]:
(7 == 7) and (-32 > 0)

False

In [25]:
(7 == 8) and (-32 > 0)

False

## To avoid confusion and ensure consistent behaviour, it's recommended to use boolean values (`True` or `False`) explicitly when working with logical operations to ensure predictable outcomes based on boolean logic.

In [29]:
is_winter = "winter" # string with the value "True"
is_cloudy = True # boolean with the value True

is_winter and is_cloudy

True

In [30]:
# return the first falsy value encountered or the last truthy value if all operands are true based on the conditions provided

is_cloudy and is_winter

'winter'

In [31]:
"Python" and "python"

'python'

In [34]:
('python' == 'python') and ('DOG' == 'dog')

False

In [32]:
('python' == 'python')

True

In [33]:
('DOG' == 'dog')

False

## `or`

Evaluates to `True` if just one of the statements is true.

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

In [35]:
(7 == 7) or (32 > 0)

True

In [36]:
(7 == 8) or (32 > 0)

True

In [37]:
(7 == 7) or (-32 > 0)

True

In [38]:
(7 == 8) or (-32 > 0)

False

## Operator precedence

Boolean operators are evaluated after arithmetic and comparison operators.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |
| 6 | `not` | Not |
| 7 | `and` | And |
| 8 | `or` | Or|

In [39]:
not(7 % 2 == 1) or False

False

In [40]:
7 % 2

1

In [43]:
not(7 % 2 == 1) or False

False

In [ ]:
# False or True -> True
(7 == 3) or (8 == 8)

True

In [46]:
(7 == 3) and (8 == 8)

False

In [50]:
year = 1990

if year >= 2000:
    print('We are in the 21st century.')

In [52]:
year = 2002

if year >= 2000:
    print('We are in the 21st century.')
else:
    print('We are not in the 21st century.')

We are in the 21st century.

In [57]:
year = 1600

if year >= 2000:
    print('We are in the 21st century.')
elif year >= 1900:
    print('We are in the 20th century.')
elif year >= 1800:
    print('We are in the 19th century.')
elif year >= 1700:
    print('We are in the 18th century.')
else:
    print('We have gone wayyyyy back in time!')

We have gone wayyyyy back in time!

In [59]:
day_of_week = 'Saturday'

if day_of_week == 'Saturday' or day_of_week == 'Sunday':
    print('Weekend')
else:
    print('Weekday')

Weekend

In [60]:
day_of_week == 'Saturday'

True

In [61]:
day_of_week == 'Sunday'

False

In [71]:
age = input("What is your age? ")
if type(age) == str:
    print('wrong')

wrong

In [73]:
type(age)

str

In [64]:
age

'700'

In [67]:
int(age) + 50

750

In [68]:
int(age)

700